.CmtList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button_box {
        button {
            font-size: 18px;
            color: #ffc9c9;
        }
        button:hover {
            color: #fa5252;
        }
    }
}