.Header_JT {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 55px;
    background: #fff; 
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
    .header_wrap {
        height: 100%;
        max-width: 1066px;
        margin: 0 auto;
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            h1 {
                display: flex;
                span {
                    display: inline-block;
                    text-indent: -9999px;
                }
                a {
                    display: block;
                    img {
                        width: 100px;
                    }
                }
            }
            .input_box {
                width: 200px;
                height: 30px;
                input {
                    height: 100%;
                    width: 100%;
                    padding: 0 32px;
                    box-sizing: border-box;
                    background: #f1f3f5;
                    border: 1px solid #ced4da;
                    font-size: 16px;
                    outline: none;
                }
                input#search{
                    background: url("../../images/pngwing.com.png") no-repeat;
                    background-position: 65px;
                    background-size: 14px;
                }
                input#search:focus{
                    background-position: 10px;
                }
                input::placeholder {
                    text-align: center;
                    font-size: 15px;
                }
                input:focus::-webkit-input-placeholder { 
                    color: transparent; 
                }
            }
        }
    }
}
