.Main {
    position: relative;
    top: 55px;
    height: 100%;
    background: #f8f9fa;
    .container {
        display: flex;
        max-width: 1066px;
        margin: 0 auto;
        padding: 30px 0;
    }
}
