.Feed_JT {
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background: #fff;
    p {
        line-height: 1.4;
    }
    .profile_id {
        font-size: 15px;
        font-weight: bold;
    }
    .feed_box {
        width: 100%;
        height: 100%;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        img {
            width: 100%;
        }
    }
    .feed_info {
        position: relative;
        padding: 10px 20px;
        .feed_state {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .feed_likes {
            display: flex;
            align-items: center;
            .profile_img {
                width: 30px;
                margin-right: 5px;
            }
        }
        .comments_margin {
            margin-bottom: 10px;
            li {
                margin-bottom: 3px;
                
            }
            .comments_tit {
                font-size: 15px;
                line-height: 1.4;
                
                
            }
            .user_id {
                font-weight: bold;
            }
            .comment_contents {
                padding-left: 5px;
            }
            .feed_time {
                line-height: 1.4;
                .time {
                    font-size: 13px;
                    color: #adb5bd;
                }
            }
        }
        .comments_margin.feed_user {
            margin-bottom: 3px;
        }
    }
    .comments_form {
        position: relative;
        .input_box {
            position: relative;
            width: 100%;
            height: 45px;
            input {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                box-sizing: border-box;
                border: 1px solid #dbdbdb;
                border-left: none;
                border-right: none;
                border-bottom: none;
                font-size: 15px;
            }
        }
        .button_box {
            position: absolute;
            right: 10px;
            top: 11px;
            .btn {
                border: none;
                span {
                    font-size: 15px;
                }
                .comment_submit.active {
                    color: #4dabf7;
                }
                .comment_submit.disabled {
                    color: #bfdffd;
                   
                }
            }
        }
        
    }
}
.Feed:last-child {
    margin: 0;
}
